/* 기본 스타일 */
*{
    background-color: black;
}
body, h1, p {
    margin: 0;
    padding: 0;
}
.category {
    color: white;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 70px;
}
/* 상단 바 스타일링 */
header {
    color: white;
    background-color: black;
}
.menu-left img {
    align-items: center;
}


/* 상단 바 스타일 */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/* 각 서브 디비전에 대한 스타일 */
.menu-middle, .menu-right {
    flex: 1; /* 각각 동일한 flex 비율을 부여 */
    text-align: center; /* 중앙 정렬 */
}
.menu-left{
    flex:1;
    margin-left: 50px;
}
.menu-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.menu-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.menu-right ul li {
    margin-left: 20px;
}

.menu-right ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.main-navigation {
    display: flex;
    justify-content: left;
    background-color: black;
}

.main-navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 100px;

}

.main-navigation ul li {
    margin-left: 60px;
}

.main-navigation ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

/* 메인 콘텐츠 스타일링 */
main {
    display: flex;
    align-items: flex-start; /* 요소들을 위에서 아래로 정렬 */
}

.section-container {
    flex: 4; /* section 컨테이너에 더 큰 비율 할당 */
    background-color: black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-list {
    flex: 1; /* aside에 작은 비율 할당 */
    height: 100%; /* 세로로 전체 영역을 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 세로 축 중앙 정렬 */
    justify-content: center; /* 가로 축 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    background-color: black;
}
.friend-list h2{
    color: white;
}
.friend-list ul li{
    color: white;
    margin-top: 10px;
    font-size: 18px;
}
.empty{
    flex:1;
}
.featured-chatroom {
    display: flex;
    align-items: center;
    color: white;
    padding: 1em;
    justify-content: space-between;
}

.featured-chatroom img {
    flex: 2;
    max-width: 50%;
    height: auto;
}
.search {
    position: relative;
    width: 600px;
}

.search input {
    width: 120%;
    border: 1px solid #4ea9a9;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    height: 25px;
    color: white;
}

.search img {
    position: absolute;
    width: 20px;
    top: 15px;
    right: 12px;
    margin-right:-24%;
}
.chatroom-details {
    flex: 1; /* 남은 공간을 차지하도록 설정 */
    text-align: center;
}
.chatroom-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 생성 */
    gap: 5em; /* 채팅방 사이의 간격 설정 */
    margin-left: 15%;
}

.chatroom {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    width: 100%; /* div 너비 설정 */
}

.chatroom img {
    max-width: 100%; /* 이미지 최대 너비를 div 너비에 맞춤 */
    height: auto; /* 이미지 높이 자동 조절 */
}
.chatroom p {
    color: white;
}
.chatroom-info {
    text-align: center; /* 텍스트 중앙 정렬 */
}
h2.category {
    margin-left: -20%; /* 왼쪽으로 이동 */
    /* ... 기존의 다른 속성들 ... */
}