.page {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.back {
    position: absolute;
    top: 60px;
    left: 60px;
}

.container {
    width: 750px;
    height: 550px;
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #000;
}

.id{
    height:157px;
    width:145px;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}