* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px;
    margin-bottom: 1rem;
}


.profile-text {
    margin-bottom: 2rem;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-btn, .register-btn {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #3498db;
    text-decoration: none;
}

.login-btn {
    background-color: #59D6FE;
    color: #333;
    margin-bottom: 30px;

}

.register-btn {
    background-color: #ffffff;
    color: #333;
}
.login-btn:hover, .register-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.back {
    position: absolute;
    top: 60px;
    left: 60px;
}