/* 기본 스타일 */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* 상단 바 스타일링 */
header {
    color: white;
    background-color: #333;
}
.menu-left img {
    align-items: center;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.main-navigation {
    display: flex;
    justify-content: left;
    background-color: black;
}

.main-navigation a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

/* 메인 콘텐츠 스타일링 */
main {
    display: flex;
    flex-direction: column;
}

.featured-chatroom {
    display: flex;
    align-items: center;
    color: white;
    padding: 1em;
}

.featured-chatroom img {
    width: 50%;
    height: auto;
}

.chatroom-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
}

.chatroom {
    background-color: #ececec;
    padding: 1em;
}

.chatroom img {
    width: 100%;
    height: auto;
}

/* 친구 목록 사이드바 */
.friend-list {
    position: fixed;
}